---
import Layout from "../layouts/Layout.astro";
import ScratchPad from "../components/ScratchPad.astro";
---

<Layout title="Scratch Pad">
  <main class="wrapper">
    <ScratchPad placeholderText="// Start making notes!" />
  </main>
</Layout>

<style>
  .wrapper {
    height: 100%;
    width: 100%;
  }
</style>
